{% extends "base.html" %}

{% block content %}
<div class="flex justify-center my-60" style="position:relative;">
    <div id="mainContainer" class="flex flex-col items-center justify-center max-w-4xl">
        <h2 class="text-center mb-4 pb-4 text-5xl leading-tight">Describe Graph!</h2>
        <div id="ask" class="sm:min-w-[30rem] m-0">
            <div class="relative w-[40rem]">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input id='inputData' type="search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Q2, Q3 -> Q4" required>
                <button id="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Show graph</button>
            </div>
        </div>
        <div class="text-wrap text-red-500 my-4" id="errorText" style="display: none"></div>
        <div class="flex flex-col">
            <div id="graphBox" class="flex flex-col w-[40rem]" style="display: none">
                <h4 class="my-6 text-2xl font-medium leading-tight">Graph</h4>
                <div class="self-center" id="graphImg"></div>
                <h4 class="my-6 text-2xl font-medium leading-tight">Description (T5-XL)</h4>
                <div class="text-wrap" id="graphT5Description"></div>
                <h4 class="my-6 text-2xl font-medium leading-tight">Description (GAP)</h4>
                <div class="text-wrap" id="graphGAPDescription"></div>
            </div>
            <div id="graphLoader" class="my-16 self-center inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white" role="status" style="display: none"></div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"></script>
    <script>
        function parseInput(inputText) {
            const arrowSplit = inputText.split("->");
            if (arrowSplit.length !== 2) {
                return [null, "Failed to find single arrow `->`. Please follow pattern `Q1, Q2 -> Q3`"]
            }
            const [questionEntitiesRaw, answerEntityRaw] = arrowSplit;
            const questionSplit = questionEntitiesRaw.split(",");
            const questionEntities = questionSplit.map((x) => x.trim());
            const answerEntity = answerEntityRaw.trim();

            return [{question_entities_idx: questionEntities, answer_idx: answerEntity}, ""]
        }

        function apiCall(data, url) {
            return $.ajax({
                url: url,
                method: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: true
            })
        }

        var rem = function rem() {
            var html = document.getElementsByTagName('html')[0];
            return function () {
                return parseInt(window.getComputedStyle(html)['fontSize']);
            }
        }();

        function showEntityImage(src, x, y) {
            $("#entityImage").attr("src", src);
            const scroll = $("body").scrollTop();
            const yWithScroll = y - 15 * rem() + scroll;
            const yWithUpDownPosition = y > 200 ? yWithScroll - imageSizes[src] : yWithScroll;
            $('#entityImageContainer').css({'left': x, 'top': yWithUpDownPosition});
            $("#entityImageContainer").show();
        }

        function hideEntityImage() {
            $("#entityImageContainer").hide()
            $("#entityImage").removeAttr('src')
        }

        function preloadImages(arrayOfImages) {
            $(arrayOfImages).each(function(){
                const img = new Image();
                const src = this;
                img.src = this;
                img.onload = function() {
                    imageSizes[src] = 200 * this.height / this.width;
                };
            });
        }

        imageSizes = {};

        $(document).ready(function() {
            let clientX = 0;
            let clientY = 0;
            $("body").mousemove(function(e) {
                clientX = e.clientX;
                clientY = e.clientY;
            })
            $("#entityImageContainer").mouseleave(function(e){
              if (!e.relatedTarget || !e.relatedTarget.id.startsWith('Q')) {
                hideEntityImage();
              }
            })
            $("#submit").click(function() {
                const inputText = $("#inputData").val();
                const [dataForSvg, errorText] = parseInput(inputText);
                const dataForDescriptionGAP = { ...dataForSvg };
                dataForDescriptionGAP.model = "gap";
                const dataForDescriptionT5 = { ...dataForSvg };
                dataForDescriptionT5.model = "g2t-t5-xl";
                console.log(dataForSvg);
                console.log(dataForDescriptionGAP);

                if (errorText !== "") {
                    $("#errorText").text(errorText);
                    $("#errorText").show();
                } else {
                    $("#errorText").hide();
                    $("#errorText").text("");
                    $('#graphBox').hide();
                    $('#graphLoader').show();
                    $.when(
                        apiCall(dataForSvg, '../wikidata/entities/ssp/graph/svg_described'),
                        apiCall(dataForDescriptionT5, '../wikidata/entities/ssp/graph/description'),
                        apiCall(dataForDescriptionGAP, '../wikidata/entities/ssp/graph/description')
                    ).done(function(svgOutput, descriptionT5Output, descriptionGAPOutput) {
                        const [svgDataWithImages] = svgOutput;
                        const {entity_photos, svg} = svgDataWithImages;
                        const [descriptionT5Data] = descriptionT5Output;
                        console.log(descriptionGAPOutput);
                        const [descriptionGAPData] = descriptionGAPOutput;
                        $('#graphBox').show();
                        $('#graphLoader').hide();
                        $('#graphImg').empty();
                        $('#graphImg').append(String(svg));
                        for (const [key, value] of Object.entries(entity_photos)) {
                          console.log(key, value);
                          $(`#${key}`).mouseenter(function(){
                              showEntityImage(value, clientX, clientY);
                          })
                          $(`#${key}`).mouseleave(function(e){
                              if (!e.relatedTarget || (e.relatedTarget.id !== "entityImage" && e.relatedTarget.id !== "entityImageBlur")) {
                                  hideEntityImage();
                              }
                          })
                        }
                        preloadImages(Object.values(entity_photos));
                        $("#graphT5Description").text(descriptionT5Data);
                        $("#graphGAPDescription").text(descriptionGAPData);
                    }).fail(function(xhr, status, error) {
                        $('#graphLoader').hide();
                        console.log(xhr);
                        if (xhr.status === 0) {
                            $("#errorText").text(`Server disconnected`);
                        } else {
                            const errorMsg = xhr.responseJSON ? `: ${xhr.responseJSON["detail"]}` : ""
                            $("#errorText").text(`${xhr.status} ${error} ${errorMsg}`);
                        }
                        $("#errorText").show();
                    })
                }
            });
        });
    </script>
</div>
    <div id="entityImageContainer" style="position:absolute; display: none">
        <img id="entityImage" style="width:200px;height:auto;" />
    </div>

{% endblock %}