{% extends "base.html" %}

{% block content %}

<div class="border-b border-color-gray py-7 pl-3">
    {% include "search_bar.html" %}
</div>

<!-- <div class="container max-w-2xl md:mx-auto my-10 py-5 flex place-content-center"> -->

<div class="flex">
    <div class="flex-none pl-1 sm:pl-[8.65rem]">
        <div class="mt-7 py-3">
            <div href="#" id="top_answer_card" class="mb-7 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800">
                {{question}}
                {{pipeline}}
            </div>
        </div>
    </div>
    <div class="flex-auto w-auto bg-slate-100">
        <!-- DETAILS -->

        <!-- END DETAILS -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        function process_pipeline_data(data) {
            answers = [];
            data["answers"].forEach(idx => {
                $.ajax({
                    url: '/wikidata/entities/' + idx,
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                    }
                })
            });
        }

        $(document).ready(function() {
            $("#top_answer_card");
            $.ajax({
                url: '/pipeline/{{pipeline}}',
                method: 'POST',
                data: JSON.stringify({text: '{{question}}'}),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    process_pipeline_data(data);
                },
            })
        })
    </script>
</div>


{% endblock %}