
<div class="max-w-4xl flex">
    <a href="/" class="w-32 min-w-fit font-bold text-4xl content-center p-1 px-3 sm:px-3">KGQA</a>
    <form id="ask" class="w-5/6 sm:min-w-[30rem] m-0 mr-1 grid grid-flow-col auto-cols-max">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative w-[40rem]">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            {% if question != '' %}
            <input name='question' type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" value="{{ question }}" required>
            {% else %}
                <input name='question' type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Who was the 50th president of USA?" required>
            {% endif %}
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Ask</button>
        </div>

        <label for="pipeline" class="mb-2 text-sm font-medium text-gray-900 sr-only">Select an option</label>
        <select name="pipeline" id="pipeline" class="w-32 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
            <option selected value="seq2seq">seq2seq</option>
            <option value="act_selection">ACT Selection (Main)</option>
            <!-- <option value="act_selection_simple">ACT Selection (Simple)</option>
            <option value="act_selection_simple_description">ACT Selection (Simple with Description similarity)</option> -->
            <option value="m3m">M3M</option>
            <option value="m3m_subj_question_matching">M3M (Subject/Question token matching)</option>
        </select>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const pipeline = urlParams.get('pipeline');
            if (pipeline != null) {
                $("#pipeline").val(pipeline).change();
            }
        });
    </script>
</div>
